<h1 style="text-align: center;">Searching in progress!</h1>
<p style="text-align: center;">Please hang tight.</p>
<p style="text-align: center;">In a few minutes, a new playlist called musicThisWeek will show up in your Spotify app</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="text-decoration: underline;">Search Arguments:</span></p>
<p style="text-align: center;"><strong>Location:</strong> San Francisco</p>
<p style="text-align: center;"><strong>Time range:</strong> Next 7 days</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img src="http://img0.joyreactor.com/pics/post/gif-youtube-video-loading-911824.gif" alt="loading gif" width="500" height="281" /></p>