{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>
    Music This Week: Setup
  </title>
</head>
<body>
    <div class="hero">
        <h1>Welcome, {{ display_name }}!</h1>
        <div>
          <img src="{{ profile_photo }}" alt="User Profile Photo for {{ username }}" />
        </div>
        <div class="profile-links">
          <a href="{{ profile }}" target="_blank">{{ username }}</a>
          <a href="/login/?retry=true">Switch Users</a>
        </div>

        <h3>FIND MUSIC THIS WEEK:</h3>
        <form action="/search" id="form">
            <input
              id = "loc_field"
              type="text"
              name="location"
              value="{{location}}"
              placeholder= "Location"
            >
            <div class="dates">
              <input
                id="start_date"
                type="date"
                name="start"
                placeholder="start"
              >
              <span>to</span>
              <input
                id="end_date"
                type="date"
                name="end"
                placeholder="end"
              >
          </div>
            <input class="button" hidden=true name="nResults" value="200">
            <button type="submit" id="search-button" onclick="buttonClick(this.form)">SEARCH</button>
        </form>
        <p id="wait-text" hidden="True">
          Please be patient. In few minutes a playlist called musicThisWeek will appear in your spotify app.<br><br>If you close this page, the playlist will still be created in the background.
        </p>
    </div>

    <script>
        /* Populate date range fields */

        var start = new Date();
        var end = new Date();

        // Offset end date by desired number of days
        end.setDate(start.getDate() + 7);

        // Format strings for the date elements:
        var start_formatted = start.toJSON().slice(0,10);
        var end_formatted = end.toJSON().slice(0,10);

        // Set element values
        document.getElementById('start_date').value = start_formatted;
        document.getElementById('end_date').value = end_formatted;


        /* Search Button */
        //When Search button is pressed, change the UI and then submit the request.
        function buttonClick(form) {
            document.getElementById('search-button').innerHTML = "Searching...";
            document.getElementById('search-button').disabled = "True";
            document.getElementById('wait-text').hidden = false;
            form.submit();
        }
    </script>
</body>
</html>
