<VirtualHost *:80>
    LogLevel info
    #ServerName localhost
    #ServerAdmin localhost
    DocumentRoot /src

    <Directory /src>
      Order allow,deny
      Allow from all
    </Directory>

    # TODO is it bad to put the source code in a publicly accessible document root?
    WSGIScriptAlias /mtw /src/musicThisWeek/wsgi.py

</VirtualHost>
