option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: musicThisWeek/wsgi.py
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "musicThisWeek.settings"
    "PYTHONPATH": "/opt/python/current/app/musicThisWeek:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "music_this_week_app/static/"

container_commands:
  migrate:
    command: 'ls && source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput'
